<ul>
  {% for post in postslist %}
    <li class="my-4">
      <strong>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </strong>
      -
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      -
      <span>{{ post.data.description }}</span>
    </li>
  {% endfor %}
</ul>
