<!doctype html>
<html lang="en">
  <head>
    {%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
    {%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
    {%- set pageImage %}{% if image %}https://captialwebcompany.com/img/{{ image }}{% else %}{{ meta.defaultImage }}{% endif %}{% endset -%}

    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
      name="description"
      content="{{pageDescription}}"
    />

    <meta property="og:title" content="{{pageTitle}}<" />
    <meta property="og:description" content="{{pageDescription}}" />
    <meta property="og:image" content="{{ pageImage }}" />
    <meta property="og:url" content="https://capitalwebcompany.com{{page.url}}}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{pageTitle}}" />
    <meta name="twitter:description" content="{{pageDescription}}" />
    <meta name="twitter:image" content="{{ pageImage }}" />

    <link rel="icon" href="{{ '/favicon.png' | url }}" />
    <!-- <link rel="stylesheet" type="text/css" href="/assets/main.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | url }}" />
     <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>  
      // Remove this script if you don't need the dark mode toggle  
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
        
      } else {
        document.documentElement.classList.remove('dark')
      }

      const toggleDarkMode = function(){
        if (document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.remove('dark');
          localStorage.theme = 'light';      
        } else {
          document.documentElement.classList.add('dark')
          localStorage.theme = 'dark'
        }
      };   

      const forgetPref = function(){
        localStorage.removeItem('theme')
        window.location.reload()
      }
    </script>

  </head>
  <body class="bg-[#FCFBFA] dark:bg-zinc-800 dark:text-white ">
    {% include "../components/navigation.njk" %}
    <main class="p-12 ">

      {{ content | safe }}
    </main>



    <footer class="rounded-lg shadow-sm m-4 dark:bg-gray-800">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">©
            <script>document.write(/\d{4}/.exec(Date())[0])</script>
           <a href="https://capitalwebcompany.com/" class="hover:underline">Capital Web Company</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="/work" class="hover:underline me-4 md:me-6">Work</a>
            </li>
            <li>
                <a href="/privacy" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="/contact" class="hover:underline">Contact</a>
            </li>
        </ul>
        </div>
    </footer>


    <!-- <script src="/assets/main.js"></script> -->
    <script src="{{ '/assets/main.js' | url }}"></script>
    {% if schema %}<script type="application/ld+json">{{ schema|safe }}</script> {% endif %}
  </body>
</html>
