---
layout: layouts/base.njk
---
<time>{{ date | readableDate }}</time>

<article class=" bg-white dark:bg-zinc-800 dark:text-white prose lg:prose prose-img:rounded-xl prose-headings:underline prose-a:text-blue-600 prose-ul:p4">

<!-- <h1 class="text-3xl mb-8">{{title}}</h1> -->

{{ content | safe }}</article>

<script type="application/ld+json">
  {
  	"@type": "BlogPosting",
    "$schema": "http://json-schema.org/draft-07/schema#",
    "title": "{{title}}",
    "image": "https://capitalwebcompany.com/img/{{image}}",
    "description": "{{description}}",
    "type": "object",
    "properties": {
      "headline": {
        "type": "string",
        "description": "{{title}}"
      },
      "datePublished": {
        "type": "string",
        "format": "date-time",
        "description": "{{ date | readableDate }}"
      },
      "author": {
        "type": "object",
        "description": "The author of the article",
        "properties": {
          "name": {
            "type": "string",
            "description": "Capital Web Company"
          },
          "url": {
            "type": "string",
            "format": "url",
            "description": "https//capitalwebcomapny.com"
          }
        },
        "required": [
          "name"
        ]
      },
      "articleBody": {
        "type": "string",
        "description": "{{content | safe }}"
      },
      "description": {
        "type": "string",
        "description": "{{ description }}}"
      },
      "keywords": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "{{ keywords }}}"
      }
    },
    "required": [
      "headline",
      "datePublished",
      "author",
      "articleBody"
    ]
  }
</script>