---
title: "Small Business Website Work - Concord NH - Manufacturing, Coffee Shops, Restaurants, and local support"
description: "Some of our clients locally in New Hampshire are looking for simple, small business website solutions."
layout: layouts/base.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 1
---

<div class="flex items-center py-4 overflow-x-auto whitespace-nowrap">
    <a href="#" class="text-gray-600 dark:text-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
        </svg>
    </a>

    <span class="mx-5 text-gray-500 dark:text-gray-300">
        /
    </span>
    <a href="#" class="text-blue-600 dark:text-blue-400 hover:underline">
        Work
    </a>
<!--     <a href="#" class="text-gray-600 dark:text-gray-200 hover:underline">
        Account
    </a>

    <span class="mx-5 text-gray-500 dark:text-gray-300">
        /
    </span>

    <a href="#" class="text-gray-600 dark:text-gray-200 hover:underline">
        Profile
    </a>

    <span class="mx-5 text-gray-500 dark:text-gray-300">
        /
    </span>
 -->

</div>

<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl dark:text-white">
            What We Build
        </h1>

        <p class="mt-4 text-center text-gray-500 dark:text-gray-300 ">
            From clean template implementations to custom-designed components and modules, our work spans a wide range of digital needs. We offer everything from fresh website designs and development support to integrations with external systems and tools. Our team works across platforms including WordPress, Webflow, HTML/CSS, Shopify, Wix, Squarespace—and beyond.
        </p>

        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-2">
            <div class="border-2 border-solid border-2 p-2">
                <img class="object-cover w-full rounded-lg h-96 "
                    src="{{ '/img/inofab-webflow-web-design-and-development-nh.jpg' | url }}"
                    alt="Inofab Manufacturing Website Design and Support">
                <h2 class="mt-4 text-xl font-semibold text-gray-800 capitalize dark:text-white">
                    Inofab
                </h2>
                <p class="mt-4 text-left text-gray-500 dark:text-gray-300">
                    Inofab had an existing WordPress website that was deprecated for support and causing frequent crashes. They wanted a new modern design without the hastle of plugin and application maintenance.
                    The new website is built in Webflow
                </p>
                <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase dark:text-blue-400 ">
                    <a href="https://www.inofab.com" target="_blank">WEBSITE - Webflow</a>
                </p>
            </div>

            <div class="border-2 border-solid border-2 p-2">
                <img class="object-cover w-full rounded-lg h-96 "
                    src="{{ '/img/luckys-barber-shop-concord-nh-website-design-development-and-support-nh.jpg' | url }}"
                    alt="Luckys Barbershop Website Design and Development">
                <h2 class="mt-4 text-xl font-semibold text-gray-800 capitalize dark:text-white">
                    Lucky's Barbershop
                </h2>
                <p class="mt-4 text-left text-gray-500 dark:text-gray-300">
                    Lucky's is built on WordPress. We have helped with heavy configuration inside the <a class="text-blue-500"  href="https://www.appointy.com/" target="_blank">appointy appointment software management system</a> and square / paypal payment gateways.
                </p>
                <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase dark:text-blue-400 ">
                    <a href="https://luckysbarbershop.biz/" target="_blank">WEBSITE - WordPress</a>
                </p>
            </div>

            <div class="border-2 border-solid border-2 p-2">
                <img class="object-cover w-full rounded-lg h-96 "
                    src="{{ '/img/beneath-the-bark-tree-servicecs-website-wix.jpg' | url }}"
                    alt="Beneath The Bark Tree Service Wix Website Design and Development">
                <h2 class="mt-4 text-xl font-semibold text-gray-800 capitalize dark:text-white">
                    Beneath the Bark Tree Services
                </h2>
                <p class="mt-4 text-left text-gray-500 dark:text-gray-300">
                    BTB Tree services had started a <a href="https://wix.com" class="text-blue-500" target="_blank">WIX</a> website build. They needed our help going the extra mile to get templates, blocks, copy, and images in place for deployment to their production url.
                </p>
                <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase dark:text-blue-400 ">
                    <a href="https://luckysbarbershop.biz/" target="_blank">WEBSITE - WIX</a>
                </p>
            </div>

            <div class="border-2 border-solid border-2 p-2">
                <img class="object-cover w-full rounded-lg h-96 "
                    src="{{ '/img/adoorunlocked-wordpress-design-development-ecommerce-solutoin-nh.jpg' | url }}"
                    alt="A Door Unlocked Ecommerce WordPress Website">
                <h2 class="mt-4 text-xl font-semibold text-gray-800 capitalize dark:text-white">
                    A Door Unlocked
                </h2>
                <p class="mt-4 text-left text-gray-500 dark:text-gray-300">
                    
                </p>
                <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase dark:text-blue-400 ">
                    <a href="https://www.adoorunlocked.com/" target="_blank">WEBSITE - WORDPRESS</a>
                </p>
            </div>

            <div class="border-2 border-solid border-2 p-2">
                <img class="object-cover w-full rounded-lg h-96 "
                    src="{{ '/img/pellerin-automotive-shop-website-design-and-development.jpg' | url }}"
                    alt="Pellerin Auto Sports website">
                <h2 class="mt-4 text-xl font-semibold text-gray-800 capitalize dark:text-white">
                   Pellerin Motor Sports
                </h2>
                <p class="mt-4 text-left text-gray-500 dark:text-gray-300">
                    <!-- BTB Tree services had started a <a href="https://wix.com" class="text-blue-500" target="_blank">WIX</a> website build. They needed our help going the extra mile to get templates, blocks, copy, and images in place for deployment to their production url. -->
                </p>
                <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase dark:text-blue-400 ">
                    <a href="https://www.pellerinmotorsports.com/" target="_blank">WEBSITE - Squarespace</a>
                </p>
            </div>

        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
    <p>Previous Accounts include:</p>
    <ul>
        <li>Capital Sporting Goods - E-commerce website and contact lead gen</li>
        <li>Steve and Daves Automotive - Website</li>
        <li>American Auto Clinic - Computer backup solutions, network support</li>
        <li>C&S Precision Tune Up - Computer / PC Support and Network/Printer Support</li>
        <li>Tandys Pub - Initial Website, Menus, QR code Support</li>
    </ul>
</section>

